In [25]:
import pandas as pd
import matplotlib.pyplot as plt

In [40]:
df["start time"] = pd.to_datetime(df["start time"], format="%H:%M:%S")
df["end time"] = pd.to_datetime(df["end time"], format="%H:%M:%S")

# Trek ze van elkaar af → dit geeft een timedelta
df["duur"] = df["end time"] - df["start time"]

df.head(5)

,start location,end location,start time,end time,activity,line,energy consumption,bus,duur
0,ehvgar,ehvbst,1900-01-01 05:03:00,1900-01-01 05:07:00,material trip,NaN,1.9800,1,0 days 00:04:00
1,ehvbst,ehvapt,1900-01-01 05:07:00,1900-01-01 05:31:00,service trip,401.0,10.8036,1,0 days 00:24:00
2,ehvapt,ehvapt,1900-01-01 05:31:00,1900-01-01 06:04:00,idle,NaN,5.0000,1,0 days 00:33:00
3,ehvapt,ehvbst,1900-01-01 06:04:00,1900-01-01 06:29:00,service trip,401.0,10.8600,1,0 days 00:25:00
4,ehvbst,ehvbst,1900-01-01 06:29:00,1900-01-01 06:31:00,idle,NaN,5.0000,1,0 days 00:02:00

In [62]:
df_m["min_travel_time"] = pd.to_timedelta(df_m["min_travel_time"], unit = "m")
df_m["max_travel_time"] = pd.to_timedelta(df_m["max_travel_time"], unit = "m")
df_m.head(5)

    start     end min_travel_time max_travel_time  distance_m   line
0  ehvapt  ehvbst 0 days 00:21:00 0 days 00:23:00       10250  400.0
1  ehvbst  ehvapt 0 days 00:21:00 0 days 00:23:00       10708  400.0
2  ehvapt  ehvbst 0 days 00:22:00 0 days 00:25:00        9050  401.0
3  ehvbst  ehvapt 0 days 00:22:00 0 days 00:24:00        9003  401.0
4  ehvapt  ehvbst 0 days 00:20:00 0 days 00:20:00        8600    NaN

In [69]:
import pandas as pd

# Inlezen
planning = pd.read_excel("Bus Planning.xlsx")
matrix = pd.read_excel("DistanceMatrix.xlsx")

# Alles naar string zetten (veilig)
planning["start location"] = planning["start location"].astype(str)
planning["end location"] = planning["end location"].astype(str)
planning["line"] = planning["line"].astype(str)

matrix["start"] = matrix["start"].astype(str)
matrix["end"] = matrix["end"].astype(str)
matrix["line"] = matrix["line"].astype(str)

# Merge op drie kolommen tegelijk
matched = planning.merge(
    matrix,
    left_on=["start location", "end location", "line"],
    right_on=["start", "end", "line"],
    how="inner"
)

matched

,start location,end location,start time,end time,activity,line,energy consumption,bus,start,end,min_travel_time,max_travel_time,distance_m
0,ehvgar,ehvbst,05:03:00,05:07:00,material trip,nan,1.9800,1,ehvgar,ehvbst,4,4,1650
1,ehvbst,ehvapt,05:07:00,05:31:00,service trip,401.0,10.8036,1,ehvbst,ehvapt,22,24,9003
2,ehvapt,ehvbst,06:04:00,06:29:00,service trip,401.0,10.8600,1,ehvapt,ehvbst,22,25,9050
3,ehvbst,ehvapt,06:31:00,06:55:00,service trip,401.0,10.8036,1,ehvbst,ehvapt,22,24,9003
4,ehvapt,ehvbst,06:56:00,07:21:00,service trip,401.0,10.8600,1,ehvapt,ehvbst,22,25,9050
...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,ehvbst,ehvapt,17:06:00,17:30:00,service trip,400.0,12.8496,19,ehvbst,ehvapt,21,23,10708
574,ehvapt,ehvgar,17:30:00,17:50:00,material trip,nan,10.8000,19,ehvapt,ehvgar,20,20,9000
575,ehvgar,ehvbst,14:02:00,14:06:00,material trip,nan,1.9800,20,ehvgar,ehvbst,4,4,1650
576,ehvbst,ehvapt,14:06:00,14:30:00,service trip,400.0,12.8496,20,ehvbst,ehvapt,21,23,10708
577,ehvapt,ehvgar,14:30:00,14:50:00,material trip,nan,10.8000,20,ehvapt,ehvgar,20,20,9000

In [92]:
matched["min_travel_time"] = pd.to_timedelta(matched["min_travel_time"], unit = "m")
matched["max_travel_time"] = pd.to_timedelta(matched["max_travel_time"], unit = "m")
matched["start time"] = pd.to_datetime(matched["start time"], format="%H:%M:%S")
matched["end time"] = pd.to_datetime(matched["end time"], format="%H:%M:%S")
matched["duur"] = matched["end time"] - matched["start time"]

In [86]:
matched.head()
df = matched.drop(columns=["start", "end"])
df.head(5)

,start location,end location,start time,end time,activity,line,energy consumption,bus,min_travel_time,max_travel_time,distance_m,duur
0,ehvgar,ehvbst,1900-01-01 05:03:00,1900-01-01 05:07:00,material trip,nan,1.9800,1,0 days 00:04:00,0 days 00:04:00,1650,0 days 00:04:00
1,ehvbst,ehvapt,1900-01-01 05:07:00,1900-01-01 05:31:00,service trip,401.0,10.8036,1,0 days 00:22:00,0 days 00:24:00,9003,0 days 00:24:00
2,ehvapt,ehvbst,1900-01-01 06:04:00,1900-01-01 06:29:00,service trip,401.0,10.8600,1,0 days 00:22:00,0 days 00:25:00,9050,0 days 00:25:00
3,ehvbst,ehvapt,1900-01-01 06:31:00,1900-01-01 06:55:00,service trip,401.0,10.8036,1,0 days 00:22:00,0 days 00:24:00,9003,0 days 00:24:00
4,ehvapt,ehvbst,1900-01-01 06:56:00,1900-01-01 07:21:00,service trip,401.0,10.8600,1,0 days 00:22:00,0 days 00:25:00,9050,0 days 00:25:00

In [75]:
def travel_time(df):
    n = len(df)
    invalid = []
    for i in range (n):
        if df["duur"][i] > df["max_travel_time"][i] and df["duur"][i] < df["min_travel_time"][i]:
            invalid.append(i)
    return invalid

In [93]:
def invalid_start_time(df):
    n = len(df)
    invalid2 = []
    for i in range (n):
        if df["duur"][i] < pd.Timedelta(0):
            invalid2.append(i)
    print(f'let op, controleer de volgende rij(en) {invalid2} of deze snachts rijden. Als dit niet zo is dan vertrekt de bus eerder dan dat het aankomt, dus klopt dat niet')
    return invalid2

invalid_start_time(df)

let op, controleer de volgende rij(en) [44, 90] of deze snachts rijden. Als dit niet zo is dan vertrekt de bus eerder dan dat het aankomt, dus klopt dat niet

[44, 90]

In [104]:
def dubbele_bus(df):
    n = len(df)
    invalid3 = []
    for i in range (n-1):
        if df["bus"][i] == df["bus"][i+1]:
            if df["end time"][i] > df["start time"][i + 1]:
                invalid3.append((i, i+1))
    print(f'let op, controleer de volgende rij(en) {invalid3} of deze snachts rijden. Als dit niet zo is dan vertrekt de bus eerder dan dat het aankomt, dus klopt dat niet')
    return invalid3

dubbele_bus(df)

let op, controleer de volgende rij(en) [(133, 134)] of deze snachts rijden. Als dit niet zo is dan vertrekt de bus eerder dan dat het aankomt, dus klopt dat niet

[(133, 134)]

In [101]:
df.iloc[133]

start location                     ehvgar
end location                       ehvbst
start time            1900-01-01 22:33:00
end time              1900-01-01 22:37:00
activity                    material trip
line                                  nan
energy consumption                   1.98
bus                                     3
min_travel_time           0 days 00:04:00
max_travel_time           0 days 00:04:00
distance_m                           1650
duur                      0 days 00:04:00
Name: 133, dtype: object

In [102]:
df.iloc[134]

start location                     ehvbst
end location                       ehvapt
start time            1900-01-01 00:09:00
end time              1900-01-01 00:33:00
activity                     service trip
line                                401.0
energy consumption                10.8036
bus                                     3
min_travel_time           0 days 00:22:00
max_travel_time           0 days 00:24:00
distance_m                           9003
duur                      0 days 00:24:00
Name: 134, dtype: object