In [2]:
import pandas as pd
df = pd.read_excel("Bus Planning.xlsx")

In [2]:
df.head()

,start location,end location,start time,end time,activity,line,energy consumption,bus
0,ehvgar,ehvbst,05:03:00,05:07:00,material trip,NaN,1.9800,1
1,ehvbst,ehvapt,05:07:00,05:31:00,service trip,401.0,10.8036,1
2,ehvapt,ehvapt,05:31:00,06:04:00,idle,NaN,5.0000,1
3,ehvapt,ehvbst,06:04:00,06:29:00,service trip,401.0,10.8600,1
4,ehvbst,ehvbst,06:29:00,06:31:00,idle,NaN,5.0000,1

In [5]:
batterylevel_start = 229.5 # battery level of the bus at the start of the activity # 100%
# tc = time in minutes the charging takes
# batterylevel_start =  battery level of the bus at the end of the activity
battery100= 255 # kWh # battery capacity of the bus
usefull_battery = 229.5 # with 85% battery state
charge_rate = 450 # kWh
min_time = 15 # minutes

# charging constraints
min_battery = 0.1 * battery100 # 10% of full battery
batterylevel_end = batterylevel_start + (tc * charge_rate / 60) 
batterylevel_end <= usefull_battery
tc>= min_time 

# battery dying
# ti = time idle in minutes
# energy_consumption_idle = 1.2 # kWh per minute
# energy_consumption_drive = 1.5 # kWh per minute

batterylevel_end = batterylevel_start - (ti * energy_consumption_idle)-(td * energy_consumption_drive) # per bus


batterylevel = batterylevel_start - df['engery consumption'] # per bus
batterylevel >= min_battery
batterylevel <= usefull_battery

NameError: name 'tc' is not defined

In [17]:
batterylevel_start = 229.5 # battery level of the bus at the start of the activity # 100%
n= 20 # number of buses

for i in range(1,n):
    batterylevel = batterylevel_start - df[df['bus']==i]['energy consumption'].sum()# per bus
    batterylevel_start = batterylevel
    batterylevel >= min_battery
    batterylevel <= usefull_battery
    print(batterylevel)

63.879200000000054
-101.74159999999995
-203.46479999999997
-289.6208
-503.9344
-704.3148
-953.1976
-1213.538
-1459.466
-1619.8236
-1774.6928
-1909.102
-2021.5972000000002
-2090.4688
-2202.286
-2282.7412
-2354.3572
-2447.8035999999997
-2494.9107999999997

In [18]:
import pandas as pd

# Voorbeeldparameters
batterylevel_start = 229.5
min_battery = 20
useful_battery = 229.5

# Stel dat df de kolommen 'bus' en 'energy consumption' heeft
# Bereken totale energy consumption per bus
total_consumption = df.groupby('bus')['energy consumption'].sum()

# Bereken batterijniveau per bus
batterylevel_per_bus = batterylevel_start - total_consumption

# Check of batterij binnen limieten zit
battery_status = (batterylevel_per_bus >= min_battery) & (batterylevel_per_bus <= useful_battery)

# Resultaat printen
result = pd.DataFrame({
    'batterylevel': batterylevel_per_bus,
    'within_limits': battery_status
})
print(result)

     batterylevel  within_limits
bus
1         63.8792           True
2         63.8792           True
3        127.7768           True
4        143.3440           True
5         15.1864          False
6         29.1196           True
7        -19.3828          False
8        -30.8404          False
9        -16.4280          False
10        69.1424           True
11        74.6308           True
12        95.0908           True
13       117.0048           True
14       160.6284           True
15       117.6828           True
16       149.0448           True
17       157.8840           True
18       136.0536           True
19       182.3928           True
20       203.8704           True

In [25]:
import pandas as pd

# Voorbeeldparameters
batterylevel_start = 229.5
min_battery = 255*0.1
useful_battery = 229.5

# Bereken totale netto energy change per bus
net_consumption = df.groupby('bus')['energy consumption'].sum()  # verbruik + opladen

# Bereken batterijniveau per bus
batterylevel_per_bus = batterylevel_start - net_consumption  # verbruik verlaagt batterij, opladen verhoogt batterij door minteken

# Check of batterij binnen limieten zit
battery_status = (batterylevel_per_bus >= min_battery) & (batterylevel_per_bus <= useful_battery)

# Resultaat in tabelvorm
result = pd.DataFrame({
    'batterylevel': batterylevel_per_bus,
    'within_limits': battery_status
})
print(result)

df[df['bus']==1]['energy consumption'].sum()

     batterylevel  within_limits
bus
1         63.8792           True
2         63.8792           True
3        127.7768           True
4        143.3440           True
5         15.1864          False
6         29.1196           True
7        -19.3828          False
8        -30.8404          False
9        -16.4280          False
10        69.1424           True
11        74.6308           True
12        95.0908           True
13       117.0048           True
14       160.6284           True
15       117.6828           True
16       149.0448           True
17       157.8840           True
18       136.0536           True
19       182.3928           True
20       203.8704           True

165.62079999999995

In [30]:
idle_table = df[df['activity'] == 'idle']
idle_table = idle_table.reset_index(drop=True)
l = df[df['activity'] != 'idle']

#print(idle_table)
#print(l)


batterylevel_start = 229.5
min_battery = 255*0.1
useful_battery = 229.5

net_consumption = l.groupby('bus')['energy consumption'].sum()  # verbruik + opladen

# Bereken batterijniveau per bus
batterylevel_per_bus = batterylevel_start - net_consumption  # verbruik verlaagt batterij, opladen verhoogt batterij door minteken

# Check of batterij binnen limieten zit
battery_status = (batterylevel_per_bus >= min_battery) & (batterylevel_per_bus <= useful_battery)

# Resultaat in tabelvorm
result = pd.DataFrame({
    'batterylevel': batterylevel_per_bus,
    'within_limits': battery_status
})
print(result)

l[l['bus']==1]['energy consumption'].sum()

     batterylevel  within_limits
bus
1        133.8792           True
2        133.8792           True
3        182.7768           True
4        178.3440           True
5         65.1864           True
6         64.1196           True
7          5.6172          False
8         -5.8404          False
9         73.5720           True
10       154.1424           True
11       109.6308           True
12       115.0908           True
13       117.0048           True
14       160.6284           True
15       117.6828           True
16       149.0448           True
17       157.8840           True
18       136.0536           True
19       182.3928           True
20       203.8704           True

95.62079999999999

In [35]:
idle_table 

idle_df = df[df['activity'] == 'idle'].copy()

idle_df['start time'] = pd.to_datetime(idle_df['start time'])
idle_df['end time'] = pd.to_datetime(idle_df['end time'])

# Bereken duur in uren
idle_df['duration_hours'] = (idle_df['end time'] - idle_df['start time']).dt.total_seconds() / 3600

# Bereken energieverbruik tijdens idle (5 kW per uur)
idle_df['idle_energy_kWh'] = idle_df['duration_hours'] * 5

# Tel per bus het idle verbruik op
idle_consumption_per_bus = idle_df.groupby('bus')['idle_energy_kWh'].sum().reset_index()

# Optioneel: kolom naam aanpassen
idle_consumption_per_bus.columns = ['bus', 'total_idle_energy_kWh']

print(idle_consumption_per_bus)

    bus  total_idle_energy_kWh
0     1               5.416667
1     2               5.333333
2     3               4.166667
3     4               2.666667
4     5               6.916667
5     6               4.750000
6     7               2.916667
7     8               1.666667
8     9              12.083333
9    10              11.250000
10   11               3.750000
11   12               3.666667

C:\Users\doris\AppData\Local\Temp\ipykernel_36432\3507863950.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  idle_df['start time'] = pd.to_datetime(idle_df['start time'])
C:\Users\doris\AppData\Local\Temp\ipykernel_36432\3507863950.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  idle_df['end time'] = pd.to_datetime(idle_df['end time'])

In [34]:
idle_table = df[df['activity'] == 'idle']
idle_table

,start location,end location,start time,end time,activity,line,energy consumption,bus
2,ehvapt,ehvapt,05:31:00,06:04:00,idle,NaN,5.0,1
4,ehvbst,ehvbst,06:29:00,06:31:00,idle,NaN,5.0,1
6,ehvapt,ehvapt,06:55:00,06:56:00,idle,NaN,5.0,1
8,ehvbst,ehvbst,07:21:00,07:21:00,idle,NaN,5.0,1
10,ehvapt,ehvapt,07:45:00,07:46:00,idle,NaN,5.0,1
...,...,...,...,...,...,...,...,...
516,ehvbst,ehvbst,18:43:00,18:54:00,idle,NaN,5.0,11
535,ehvapt,ehvapt,15:03:00,15:04:00,idle,NaN,5.0,12
537,ehvbst,ehvbst,15:28:00,15:39:00,idle,NaN,5.0,12
541,ehvapt,ehvapt,17:03:00,17:34:00,idle,NaN,5.0,12
543,ehvbst,ehvbst,17:58:00,17:59:00,idle,NaN,5.0,12

In [5]:
import pandas as pd

# Voorbeeldparameters
batterylevel_start = 229.5
min_battery = 255*0.1
useful_battery = 229.5
idle_power_kW = 5

# Bereken totale netto energy change per bus# zonder IDLE
df2 = df.copy()
df2 = df[df['activity']!='idle']
net_consumption = df2.groupby('bus')['energy consumption'].sum()  # verbruik + opladen

# Verbruik idle toevoegen
idle_df = df[df['activity'] == 'idle'].copy()
idle_df['start time'] = pd.to_datetime(idle_df['start time'])
idle_df['end time'] = pd.to_datetime(idle_df['end time'])

# Bereken duur in uren
idle_df['duration_hours'] = (idle_df['end time'] - idle_df['start time']).dt.total_seconds() / 3600

# Bereken energieverbruik tijdens idle (5 kW per uur)
idle_df['idle_energy_kWh'] = idle_df['duration_hours'] * idle_power_kW

# Tel per bus het idle verbruik op
idle_consumption_per_bus = idle_df.groupby('bus')['idle_energy_kWh'].sum()

# Zorg dat alle bussen in net_consumption ook in idle_consumption_per_bus zitten
idle_consumption_per_bus = idle_consumption_per_bus.reindex(net_consumption.index, fill_value=0)



# Bereken batterijniveau per bus
batterylevel_per_bus = batterylevel_start - net_consumption-idle_consumption_per_bus  # verbruik verlaagt batterij, opladen verhoogt batterij door minteken

# Check of batterij binnen limieten zit
battery_status = (batterylevel_per_bus >= min_battery) & (batterylevel_per_bus <= useful_battery)

# Resultaat in tabelvorm
result = pd.DataFrame({
    'batterylevel': batterylevel_per_bus,
    'within_limits': battery_status,
    'active_consumption': net_consumption,
    'idle_consumption': idle_consumption_per_bus
})

print(result)

     batterylevel  within_limits  active_consumption  idle_consumption
bus
1      128.462533           True             95.6208          5.416667
2      128.545867           True             95.6208          5.333333
3      178.610133           True             46.7232          4.166667
4      175.677333           True             51.1560          2.666667
5       58.269733           True            164.3136          6.916667
6       59.369600           True            165.3804          4.750000
7        2.700533          False            223.8828          2.916667
8       -7.507067          False            235.3404          1.666667
9       61.488667           True            155.9280         12.083333
10     142.892400           True             75.3576         11.250000
11     105.880800           True            119.8692          3.750000
12     111.424133           True            114.4092          3.666667
13     117.004800           True            112.4952          0.000000
14     160.628400           True             68.8716          0.000000
15     117.682800           True            111.8172          0.000000
16     149.044800           True             80.4552          0.000000
17     157.884000           True             71.6160          0.000000
18     136.053600           True             93.4464          0.000000
19     182.392800           True             47.1072          0.000000
20     203.870400           True             25.6296          0.000000

C:\Users\doris\AppData\Local\Temp\ipykernel_26284\2371543564.py:16: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  idle_df['start time'] = pd.to_datetime(idle_df['start time'])
C:\Users\doris\AppData\Local\Temp\ipykernel_26284\2371543564.py:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  idle_df['end time'] = pd.to_datetime(idle_df['end time'])

In [ ]:
import pandas as pd

# Voorbeeldparameters # max 300 kWh, 95% mogen gebruiken, 90% hiervan kunnen gebruiken
bata_new = 300
bat_mogen = 300*0.95
bat_kunnen = bat_mogen*0.90


batterylevel_start = bat_kunnen
min_battery = bat_mogen*0.1
useful_battery = bat_kunnen
idle_power_kW = 5

# Bereken totale netto energy change per bus# zonder IDLE
df2 = df.copy()
df2 = df[df['activity']!='idle']
net_consumption = df2.groupby('bus')['energy consumption'].sum()  # verbruik + opladen

# Verbruik idle toevoegen
idle_df = df[df['activity'] == 'idle'].copy()
idle_df['start time'] = pd.to_datetime(idle_df['start time'])
idle_df['end time'] = pd.to_datetime(idle_df['end time'])

# Bereken duur in uren
idle_df['duration_hours'] = (idle_df['end time'] - idle_df['start time']).dt.total_seconds() / 3600

# Bereken energieverbruik tijdens idle (5 kW per uur)
idle_df['idle_energy_kWh'] = idle_df['duration_hours'] * idle_power_kW

# Tel per bus het idle verbruik op
idle_consumption_per_bus = idle_df.groupby('bus')['idle_energy_kWh'].sum()

# Zorg dat alle bussen in net_consumption ook in idle_consumption_per_bus zitten
idle_consumption_per_bus = idle_consumption_per_bus.reindex(net_consumption.index, fill_value=0)



# Bereken batterijniveau per bus
batterylevel_per_bus = batterylevel_start - net_consumption-idle_consumption_per_bus  # verbruik verlaagt batterij, opladen verhoogt batterij door minteken

# Check of batterij binnen limieten zit
battery_status = (batterylevel_per_bus >= min_battery) & (batterylevel_per_bus <= useful_battery)

# Resultaat in tabelvorm
result = pd.DataFrame({
    'batterylevel': batterylevel_per_bus,
    'within_limits': battery_status,
    'active_consumption': net_consumption,
    'idle_consumption': idle_consumption_per_bus
})

print(result)

     batterylevel  within_limits  active_consumption  idle_consumption
bus
1      155.462533           True             95.6208          5.416667
2      155.545867           True             95.6208          5.333333
3      205.610133           True             46.7232          4.166667
4      202.677333           True             51.1560          2.666667
5       85.269733           True            164.3136          6.916667
6       86.369600           True            165.3804          4.750000
7       29.700533           True            223.8828          2.916667
8       19.492933          False            235.3404          1.666667
9       88.488667           True            155.9280         12.083333
10     169.892400           True             75.3576         11.250000
11     132.880800           True            119.8692          3.750000
12     138.424133           True            114.4092          3.666667
13     144.004800           True            112.4952          0.000000
14     187.628400           True             68.8716          0.000000
15     144.682800           True            111.8172          0.000000
16     176.044800           True             80.4552          0.000000
17     184.884000           True             71.6160          0.000000
18     163.053600           True             93.4464          0.000000
19     209.392800           True             47.1072          0.000000
20     230.870400           True             25.6296          0.000000

C:\Users\doris\AppData\Local\Temp\ipykernel_16640\1199634223.py:21: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  idle_df['start time'] = pd.to_datetime(idle_df['start time'])
C:\Users\doris\AppData\Local\Temp\ipykernel_16640\1199634223.py:22: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  idle_df['end time'] = pd.to_datetime(idle_df['end time'])